$def with (threatInput,result)

<div class = "container" style="width:100% ; height:768px;">
	<div style="margin-left:auto; margin-right:auto;">
		$if threatInput:
			Information related to $threatInput :
		<br/>
	</div>

	<div>
		$result
	</div>
	<div>
		<form action="/threat" method="POST">
			<select name="threatIDRealWorld">
			  <option value="IP">IP-Address</option>
			  <option value="Mutex">Mutex</option>
			  <option value="File">FileHashValue</option>
			  <option value="URL">URI</option>
			</select>
			<br/>
			Enter the value of selected type: <input type="text" name="threatVal">
			<br/>
			<input type="submit">
		</form>
	</div>
</div>